<%= form_tag "/guess_a_number_result_url", method: :post do %>
  <div>
    
    Guess the number: 
    <input type="text" name="form_message">
  </div>
  <div>
    <input type="submit" value="Submit Message!">
  </div>
<% end %>